RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^mobile$                                /momondo-clone/css_mobile.css [NC,L]
RewriteRule ^tablet$                                /momondo-clone/css_tablet.css [NC,L]
RewriteRule ^desktop$                               /momondo-clone/css_desktop.css [NC,L]

RewriteRule ^$                                      /momondo-clone//view_index.php [NC,L]
RewriteRule ^flights$                               /momondo-clone/view_index.php [NC,L]
RewriteRule ^admin$                                 /momondo-clone/view_admin.php [NC,L]
RewriteRule ^carrental$                             /momondo-clone/view_carrental.php [NC,L]
RewriteRule ^explore$                               /momondo-clone/view_explore.php [NC,L]
RewriteRule ^ferries$                               /momondo-clone/view_ferries.php [NC,L]
RewriteRule ^packages$                              /momondo-clone/view_packages.php [NC,L]
RewriteRule ^stays$                                 /momondo-clone/view_stays.php [NC,L]
RewriteRule ^thingstodo$                            /momondo-clone/view_thingstodo.php [NC,L]
RewriteRule ^things_to_do$                          /momondo-clone/view_thingstodo.php [NC,L]
RewriteRule ^travelrestrictions$                    /momondo-clone/view_travelrestrictions.php [NC,L]
RewriteRule ^travel_restrictions$                   /momondo-clone/view_travelrestrictions.php [NC,L]
RewriteRule ^trips$                                 /momondo-clone/view_trips.php [NC,L]
 
RewriteRule ^([a-z]{2})$                            /momondo-clone/view_index.php?language=$1 [NC,L]
RewriteRule ^flights/([a-z]{2})$                    /momondo-clone/view_index.php?language=$1 [NC,L]
RewriteRule ^admin/([a-z]{2})$                      /momondo-clone/view_admin.php?language=$1 [NC,L]
RewriteRule ^carrental/([a-z]{2})$                  /momondo-clone/view_carrental.php?language=$1 [NC,L]
RewriteRule ^explore/([a-z]{2})$                    /momondo-clone/view_explore.php?language=$1 [NC,L]
RewriteRule ^ferries/([a-z]{2})$                    /momondo-clone/view_ferries.php?language=$1 [NC,L]
RewriteRule ^packages/([a-z]{2})$                   /momondo-clone/view_packages.php?language=$1 [NC,L]
RewriteRule ^stays/([a-z]{2})$                      /momondo-clone/view_stays.php?language=$1 [NC,L]
RewriteRule ^thingstodo/([a-z]{2})$                 /momondo-clone/view_thingstodo.php?language=$1 [NC,L]
RewriteRule ^things_to_do/([a-z]{2})$               /momondo-clone/view_thingstodo.php?language=$1 [NC,L]
RewriteRule ^travelrestrictions/([a-z]{2})$         /momondo-clone/view_travelrestrictions.php?language=$1 [NC,L]
RewriteRule ^travel_restrictions/([a-z]{2})$        /momondo-clone/view_travelrestrictions.php?language=$1 [NC,L]
RewriteRule ^trips/([a-z]{2})$                      /momondo-clone/view_trips.php?language=$1 [NC,L]

RewriteRule ^flights/([a-z]{2})/(\w+)/(\w+)$        /momondo-clone/view_flightsearch.php?language=$1&from_input=$2&to_input=$3 [NC,L]

ErrorDocument 404                             /momondo-clone/view_404.php 
ErrorDocument 500                             /momondo-clone/view_404.php 
